---
title: Resume
heading: Resume
subtitle: Education and experience
---

<section class="diagonal patterned">
	<div class="container">
	    <p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong>Manage Staff members</a></p>
			<p style="text-align: center;"><a href="/assets/general_resume.pdf">Available for download here</a><p/>
		<ul class="image-grid">
			<!-- {% for member in site.staff_members %}
				<li>{% include staff-member.html member=member %}</li>
			{% endfor %} -->
			<!-- <li><img src="{{ site.baseurl }}/assets/John Donahue Resume Fall 2019.pdf" width="300"></li> -->

			<!-- <iframe src="http://docs.google.com/gview?url=https://studentemployment.neu.edu/cimages/17%20-18%20Cooperative%20Education%20Placement%20Sheet.pdf&embedded=true" style="width:600px; height:500px;" frameborder="0"></iframe> -->
			<!-- <embed src="/assets/resume.pdf" width="1000px" height="1200px" /> -->
			<!-- <object data="your_url_to_pdf" type="application/pdf">
			 <embed src="/assets/Resume2.pdf"width="1050px" height="1200px" type="application/pdf" />
	 		</object> -->
			<iframe src="/assets/general_resume.pdf" width="1050px" height="1450px" border="0"></iframe>
		</ul>
	</div>
</section>
